.App {
  text-align: center;


}

.abc {

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.aa {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: aqua;


}